#qr-reader{
    position: absolute;
    width: 100vh;
    height: 100%;
    background-color: rgba(183, 255, 0, 0.38);
    overflow: hidden;
}

.items{
    position: relative;
    top: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px 0;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.btn:hover {background: #eee;}

.data{
  color:black
}

.success {color: green;}
.info {color: rgb(10, 77, 144);}
.warning {color: orange;}
.danger {color: red;}
.default {color: black; font-size: 15px;}

h1{
    color: #2b6c9a;
    font-size: 2.5em;
}

.license_container{
}

.license_item {
  display: inline-block;
  vertical-align: middle;

}

hr{
    border: 1px dotted #000000;
    width: 100vh;
}